@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: green;
  border-radius: 10px;
}

p {
  text-indent: 1rem;
}

.pr {
  color: red;
}

.header {
  padding: 15px;
}
.header_inner {
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
  height: 100%;
}
.logo img {
  width: 100%;
  vertical-align: bottom;
}

.nav {
  align-self: end;
}
.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}