@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: green;
  border-radius: 10px;
}

p {
  text-indent: 1rem;
}

.pr {
  color: red;
}

.header {
  padding: 15px;
}
.header_inner {
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  justify-content: space-between;
}
.logo {
  width: 150px;
}
#eye {
  transition: cx 0.125s ease-out, cy 0.125s ease-out;
}

.nav {
  align-self: end;
}
.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

#leftPupil,
#rightPupil {
  transition: cx 0.125s ease-out, cy 0.125s ease-out;
}
#form {
  border: solid 1px #ddd;
  border-radius: 0.5em;
  display: flex;
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 24px;
  flex-direction: column;
}
#form input {
  padding: 8px;
  /* border: 10px solid; */
  margin-bottom: 12px;
}
#form input[type="button"] {
  border: none;
  background-color: #4eb8dd;
  color: #ffffff;
}
#form label {
  margin-bottom: 2px;
}
